@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
.container {
  background-color: #2b2b2b;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.rocket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  width: 10%;
}

.headers {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
}
.header-text {
  text-align: center;
  top: 0;
  left: 0;
  text-shadow: 0px 1px 0px #00000012;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Plus Jakarta Sans-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: clamp(1vh, 10vw, 60px);
  text-align: center;
  letter-spacing: 0;
  line-height: 86.4px;
  white-space: nowrap;
}
.planet{
  position: absolute;
  aspect-ratio: 1;
  top:50%;
  scale:0;
}
@media screen and (orientation: landscape) {
  .rocket {
    top: 55%;
    left: 33%;
    transform: translate(-50%, -50%);
  }
  .rocket .layer {
    width: 100%;
  }

  .levels {
    top: 73%;
    left: 33%;
    transform: translate(20%, -50%);
  }
  .planet{
    overflow: hidden;
    height: 50%;
    transform: translate(100%,-50% );
    
  }
}
@media screen and (orientation: portrait) {
  .planet{
    width: 50%;
    transform: translate(0%,-50%);
  }
  .rocket {
    left: -40%;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .rocket .layer {
    width: 40%;
  }

  .levels {
    top: 73%;
    left: 16%;
    transform: translate(20%, -50%);
  }
}

.moon{
  display: none;
}